@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Dancing+Script&family=Nanum+Myeongjo&family=Nanum+Pen+Script&family=Neucha&family=Orbitron&family=Shadows+Into+Light+Two&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 900px) {
  .header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: 0.5s;
  }
  .header .Logo {
    margin-left: 50px;
    color: #fff;
    font: normal 40px/1 "Dancing Script";
  }
  .header .menu {
    display: flex;
  }
  .header .menu li {
    margin-right: 50px;
    transition: 0.5s;
  }
  .header .menu li a {
    font: bold 15px/1 "BhuTuka Expanded One";
    color: #fff;
  }
  .header .menu li:hover {
    transform: scale(1.3);
  }
  .header .btn {
    display: none;
  }
  .header.on {
    background-color: rgba(0, 0, 0, 0.715);
  }
}
@media screen and (max-width: 900px) {
  .header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.715);
  }
  .header .Logo {
    margin-top: 20px;
    margin-left: 30px;
    color: #fff;
    font: normal 35px/1 "Dancing Script";
  }
  .header .menu {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header .menu li {
    transition: 0.5s;
    margin-top: 50px;
  }
  .header .menu li a {
    font: bold 30px/1 "BhuTuka Expanded One";
    color: #fff;
  }
  .header .menu li:hover {
    transform: scale(1.3);
  }
  .header .menu.on {
    display: flex;
  }
  .header .btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 25px;
    color: #fff;
    display: block;
  }
  .header.btn {
    z-index: 2;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.715);
  }
}
.wrap {
  background-color: #000;
  padding-top: 10vh;
}
.wrap .recipecon {
  width: 100%;
  padding: 0 5vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .recipecon .vodka {
  width: 100%;
  height: 450px;
  overflow: hidden;
  background-image: url(/img/vodka.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .recipecon .vodka h1 {
  letter-spacing: 10px;
  font-size: 150px;
}
.wrap .recipecon .jin {
  margin-top: 5vw;
  width: 100%;
  height: 450px;
  overflow: hidden;
  background-image: url(/img/jin.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .recipecon .jin h1 {
  letter-spacing: 10px;
  font-size: 150px;
}
.wrap .recipecon .rum {
  margin-top: 5vw;
  width: 100%;
  height: 450px;
  overflow: hidden;
  background-image: url(/img/rum.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .recipecon .rum h1 {
  letter-spacing: 10px;
  font-size: 150px;
}
.wrap .recipecon .whisky {
  margin-top: 5vw;
  width: 100%;
  height: 450px;
  overflow: hidden;
  background-image: url(/img/whisky.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .recipecon .whisky h1 {
  letter-spacing: 10px;
  font-size: 150px;
}
.wrap .recipecon .tequila {
  margin-top: 5vw;
  width: 100%;
  height: 450px;
  overflow: hidden;
  background-image: url(/img/Tequila.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .recipecon .tequila h1 {
  letter-spacing: 10px;
  font-size: 150px;
}
.wrap .recipecon .imagecon {
  text-align: center;
  width: 100%;
  color: #fff;
}
.wrap .recipecon .imagecon .swiper {
  width: 100%;
  height: 500px;
}
.wrap .recipecon .imagecon .swiper .swiper-slide {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrap .recipecon .imagecon .swiper .swiper-slide div {
  width: 30%;
  height: 80%;
  border: 1px solid rgba(255, 255, 255, 0.592);
}
.wrap .recipecon .imagecon .swiper .swiper-slide div a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font: 30px "BhuTuka Expanded One";
  border: 1px solid #fff;
  opacity: 0;
}
.wrap .recipecon .imagecon .swiper .swiper-slide div a:hover {
  opacity: 1;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .kiss {
  background-image: url(/img/키스오브파이어.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .cosmo {
  background-image: url(/img/코스모폴리탄.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .apple {
  background-image: url(/img/애플마티니.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .sibriz {
  background-image: url(/img/시브리즈.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .mosco {
  background-image: url(/img/모스코\ 뮬.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .blood {
  background-image: url(/img/블러디메리.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .hibe {
  background-image: url(/img/하비월뱅어.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .black {
  background-image: url(/img/블랙러시안.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .long {
  background-image: url(/img/롱\ 아일랜드.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .dry {
  background-image: url(/img/dry.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .sling {
  background-image: url(/img/sling.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .ngroni {
  background-image: url(/img/negroni.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .paradise {
  background-image: url(/img/파라다이스.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .jintonic {
  background-image: url(/img/진토닉.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .pink {
  background-image: url(/img/핑크레이디.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .bacadi {
  background-image: url(/img/바카디.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .die {
  background-image: url(/img/다이키리.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .kuba {
  background-image: url(/img/쿠바리브레.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .myty {
  background-image: url(/img/마이타이.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .pina {
  background-image: url(/img/피나콜라다.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .blue {
  background-image: url(/img/블루\ 하와이.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .newyork {
  background-image: url(/img/뉴욕.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .man {
  background-image: url(/img/맨하탄.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .rust {
  background-image: url(/img/러스트네일.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .old {
  background-image: url(/img/올드패션.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .shawer {
  background-image: url(/img/위스키샤워.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .sunrize {
  background-image: url(/img/데킬라선라이즈.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .rita {
  background-image: url(/img/마가리타.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .TequilaSour {
  background-image: url(/img/마타도르.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .ElDiablo {
  background-image: url(/img/엘디아블로.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .mayo {
  background-image: url(/img/마요.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-slide .cola {
  background-image: url(/img/콜라.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.wrap .recipecon .imagecon .swiper .swiper-pagination-bullet {
  background-color: #fff;
}

@media screen and (max-width: 900px) {
  .wrap {
    background-color: #000;
  }
  .wrap .recipecon {
    margin-top: 10vh;
    width: 100%;
    padding: 0 5vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrap .recipecon .vodka {
    width: 100%;
    height: 450px;
    overflow: hidden;
    background-image: url(/img/vodka.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrap .recipecon .vodka h1 {
    letter-spacing: 10px;
    font-size: 90px;
  }
  .wrap .recipecon .jin {
    margin-top: 5vw;
    width: 100%;
    height: 450px;
    overflow: hidden;
    background-image: url(/img/jin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrap .recipecon .jin h1 {
    letter-spacing: 10px;
    font-size: 90px;
  }
  .wrap .recipecon .rum {
    margin-top: 5vw;
    width: 100%;
    height: 450px;
    overflow: hidden;
    background-image: url(/img/rum.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrap .recipecon .rum h1 {
    letter-spacing: 10px;
    font-size: 90px;
  }
  .wrap .recipecon .whisky {
    margin-top: 5vw;
    width: 100%;
    height: 450px;
    overflow: hidden;
    background-image: url(/img/whisky.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrap .recipecon .whisky h1 {
    letter-spacing: 10px;
    font-size: 90px;
  }
  .wrap .recipecon .tequila {
    margin-top: 5vw;
    width: 100%;
    height: 450px;
    overflow: hidden;
    background-image: url(/img/Tequila.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrap .recipecon .tequila h1 {
    letter-spacing: 10px;
    font-size: 90px;
  }
  .wrap .recipecon .imagecon {
    text-align: center;
    width: 100%;
    color: #fff;
  }
  .wrap .recipecon .imagecon .swiper {
    width: 100%;
    height: 1050px;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide {
    width: 30%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide div {
    width: 70%;
    height: 300px;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide div a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    border: 1px solid #fff;
    opacity: 0;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide div a:hover {
    opacity: 1;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .kiss {
    background-image: url(/img/키스오브파이어.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .cosmo {
    background-image: url(/img/코스모폴리탄.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .apple {
    background-image: url(/img/애플마티니.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .sibriz {
    background-image: url(/img/시브리즈.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .mosco {
    background-image: url(/img/모스코\ 뮬.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .blood {
    background-image: url(/img/블러디메리.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .hibe {
    background-image: url(/img/하비월뱅어.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .black {
    background-image: url(/img/블랙러시안.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .long {
    background-image: url(/img/롱\ 아일랜드.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .dry {
    background-image: url(/img/dry.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .sling {
    background-image: url(/img/sling.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .ngroni {
    background-image: url(/img/negroni.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .bacadi {
    background-image: url(/img/바카디.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .die {
    background-image: url(/img/다이키리.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .kuba {
    background-image: url(/img/쿠바리브레.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .myty {
    background-image: url(/img/마이타이.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .pina {
    background-image: url(/img/피나콜라다.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .blue {
    background-image: url(/img/블루\ 하와이.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .newyork {
    background-image: url(/img/뉴욕.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .man {
    background-image: url(/img/맨하탄.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .rust {
    background-image: url(/img/러스트네일.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .old {
    background-image: url(/img/올드패션.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .shawer {
    background-image: url(/img/위스키샤워.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .sunrize {
    background-image: url(/img/데킬라선라이즈.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .rita {
    background-image: url(/img/마가리타.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-slide .TequilaSour {
    background-image: url(/img/마타도르.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .wrap .recipecon .imagecon .swiper .swiper-pagination-bullet {
    background-color: #fff;
  }
}

/*# sourceMappingURL=recipe.css.map */
